 .top-icons {
     margin: 0 auto;
     display: table;
     padding: 10px 0;
 }
 
 .top-icon {
     display: inline-block;
     margin-right: 10px;
 }
 
 .logo-header {
     display: inline-block;
     padding: 20px 0 0 65px;
 }
 
 .logo {
     padding: 10px;
 }
 
 .logo-wrapper {
     float: left;
 }
 
 .category-search-button>img {
     position: relative;
     top: 3px;
     left: 2px;
 }
 
 .search-wrapper {
     float: left;
     margin-left: 25px;
     padding: 10px;
 }
 
 .search-text>input {
     padding: 7px 188px 10px 20px;
     display: inline-block;
 }
 
 .button {
     padding: 13px 20px 12px 20px;
 }
 
 .search-button {
     display: inline-block;
     padding: 13px 20px 12px 20px;
 }
 
 .cart-wrapper {
     float: right;
     margin: 0px -95px 0 0;
     padding: 10px;
 }
 
 navbar>ul {
     padding: 40px 20px;
     display: table;
     margin: 0 auto;
 }
 
 navbar>ul>li {
     display: inline-block;
     padding-right: 20px;
 }
 
 navbar>ul>li>a:hover {
     color: #055816;
 }
 
 .carousel>img {
     width: 100%;
     height: 80%;
 }
 
 .section-title {
     margin: 0 auto 20px auto;
     display: table;
     padding: 50px 0 0 0;
 }
 
 .list-of-categories {
     margin: 0px 65px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 
 .view-all>a {
     display: table;
     margin: 0 auto;
 }
 
 .view-all>a>img {
     margin-top: 3px;
     position: absolute;
 }
 
 .more-btn {
     margin: 6px 0 0 0;
     position: absolute;
 }
 
 .category-item {
     padding: 20px 40px;
     margin: 20px;
     display: inline-block;
 }
 
 .category-item>img {
     float: right;
 }
 
 .product-group {
     margin: 0px 85px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 
 .brand {
     padding: 3px;
 }
 
 .price {
     padding: 3px;
 }
 
 .product-item {
     padding: 30px 5px;
 }
 
 .container {
     display: grid;
     grid-template-columns: 1fr 1.7fr;
     margin: 0 87px;
     padding: 20px;
 }
 
 .about-text {
     text-align: justify;
     float: left;
     padding: 30px;
 }
 
 .shop-notification {
     padding: 20px 15px;
     background-color: green;
     color: white;
 }
 
 .notification {
     text-align: center;
     font-size: large;
 }
 
 footer {
     width: 100%;
     text-align: center;
     margin: 0;
 }
 
 .newsletter {
     padding: 20px;
 }
 
 .newsletter-message {
     width: 272px;
     display: table;
     margin: 15px auto;
 }
 
 .input-group {
     padding: 15px;
 }
 
 #email {
     padding: 10px 45px 10px 15px;
 }
 
 .btn {
     padding: 12px 15px;
     border: none;
     border-radius: 0 9px;
     background-color: white;
 }
 
 .footer-row {
     display: grid;
     padding-top: 20px;
     grid-template-columns: 1fr 1fr 2fr 2fr;
 }
 
 .footer-column {
     text-align: justify;
     margin-left: 30px;
 }
 
 .form-title {
     margin-right: 70px;
 }
 
 #elephant {
     margin: 62px 0 0 8px;
 }
 
 .icons {
     margin: 10px 0 0 25px;
 }
 
 .social-icon {
     display: inline;
     padding: 5px;
 }
 
 .input {
     display: block;
     width: 70%;
     height: 48px;
     border-radius: 4px 4px 2px 2px;
     margin-bottom: 2px;
     margin-left: 20px;
     padding-left: 10px;
 }
 
 .input-message.input {
     padding: 29px 0 70px 10px;
 }
 
 .send-button {
     display: block;
     width: 70%;
     text-align: center;
     padding: 9px 12px;
     margin: 0px 0 25px 20px;
 }
 /* Login.html */
 
 .login-button>a>button {
     padding: 10px 20px;
     float: right;
     margin: 35px 80px;
 }
 
 .login-main {
     text-align: start;
     transform: translate(-50%, -50%);
     top: 45%;
     position: absolute;
     left: 50%;
 }
 
 .login-subtitle {
     padding: 20px 0;
 }
 
 .box-text,
 #form-password,
 #form-email {
     display: block;
 }
 
 .box {
     padding: 10px 104px 10px 10px;
     border-radius: 5px;
     border: none;
     background-color: #cfcfc1;
 }
 
 .box-text {
     font-size: 14px;
     font-weight: 500;
 }
 
 #form-button {
     padding: 10px 124px;
     margin-top: 12px;
     border: none;
     border-radius: 5px;
     background-color: green;
     color: white;
 }
 
 .login-main>form>li {
     margin: 9px 0px;
 }
 
 #forgot-pass {
     text-align: center;
 }