body {
    line-height: 1.6em;
}

.button {
    border: none;
    font-size: 15px;
}

.button:hover,
.cart-wrapper:hover,
.category-item:hover,
h4.title:hover,
.logo-header:hover {
    cursor: pointer;
}

.category-search-button {
    background-color: grey;
    color: white;
    border-radius: 10px 0px 0px 0px;
}

.search-text>input {
    font-size: 20px;
    border: 1px solid grey;
}

.search-button {
    transition: all 0.3s ease;
    background: green;
    background-size: 200% 100%;
    background-position: right bottom;
    /* background-color: green; */
    color: white;
    border: none;
}

.search-button:hover {
    background-position: left bottom;
    background-color: #055816;
}

navbar>ul>li {
    font-weight: bold;
}

navbar>ul>li>a {
    color: green;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.section-title {
    color: green;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px solid green;
}

.category-item {
    border: 1px solid grey;
    color: green;
}

.category-item:hover {
    background-color: #EEEDE7;
    color: #1C4508;
}

.product-group {
    list-style: none;
    transition: all 2 ease;
}

.product-item>a>img:hover {
    border: 1px solid green;
}

.brand {
    color: grey;
}

.view-all>a {
    color: green;
}

.view-all>a:hover {
    border-bottom: 1px solid green;
}

.about-text {
    color: #333;
    background-color: #f6f6f6;
}

.about-view-all>a {
    margin: 20px 0 !important;
}

footer {
    background-color: #323E42;
    color: white;
}

.newsletter {
    background-color: #000;
}

.notification-title {
    font-weight: bold;
}

.footer-main {
    text-transform: uppercase;
}

.footer-title {
    font-size: medium;
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.footer-links {
    color: #869198;
    font-size: medium;
}

.input {
    border: none;
    background-color: #444444;
    color: #999;
    font-size: 16px;
}

.send-button {
    background-color: #2b9b2b;
    border: 1px solid transparent;
    border-radius: 2px 2px 4px 4px;
    color: #fff;
}


/* Login form */

.login-button>a>button {
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
}

form>li {
    list-style: none;
}


/* Wishlist */

.path {
    margin: 20px 60px;
}

.wishlist-list>h1 {
    margin: 25px 60px;
}

table {
    border-collapse: collapse;
    display: table;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}

td,
th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.wish-button {
    background-color: green;
    color: white;
    margin: 5px;
}

.btn:hover {
    cursor: pointer;
}